@media screen and (max-width: 1200px) {

    .tags,
    .projects-page h1:before,
    .projects-page h1:after {
        display: none;
    }

    .projects-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        h1 {
            font-size: 40px;
        }
    }
}