$colors: (
  yellow: yellow,
  dark-gray: #1e1e1e,
  gold: #FFD700,
  custom-red: #500a0a
);

@function random-color() {
  $keys: map-keys($colors);
  $random-key: nth($keys, random(length($keys)));
  @return map-get($colors, $random-key);
}

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: random-color();
    }
}

@for $i from 1 through 39 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}